.content{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 599px){
    .nav{
        width: 300px;
        height: 50%;
        position: absolute;
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }
    /*.header__title { 
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
     }*/
     .hero {
        order: 1;
        width: 100%;
     }
    .top-news {
        order: 2;
        width: 100%;
    }
    .scores {
        order: 3;
        width: 100%;
    }
    .weather {
        order: 4;
        width: 100%;
    }
    .recent-news {
        order: 5;
        width: 100%;
    }
}
@media screen and (min-width: 600px){
    .nav-toggle{
        opacity: 0;
    }
    .hero {
        order: 1;
        width: 50%;
    }
    .top-news {
        order: 2;
        width: 66.66%;
    }
    .scores {
        order: 4;
    }
    .weather {
        order: 2;
        width: 50%;
    }
    .recent-news {
        order: 5;
    }
}
@media screen and (min-width: 950px){
    
}