.content{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 599px){
    .nav{
        width: 300px;
        height: 50%;
        position: absolute;
        transform: translate(-300px, 0);
        transition: transform 0.3s ease;
    }
    .header__title { 
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
     }
}
@media screen and (min-width: 600px){
    .nav-toggle{
        opacity: 0;
    }
    .hero{
        width: 50%;
    }
}
@media screen and (min-width: 950px){
    
}