.content{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 599px){
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-350px, 0);
        transform: translate(-350px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
      }
    /*.header__title { 
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
     }*/
     nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    .hero {
        order: 1;
        width: 100%;
     }
    .top-news {
        order: 2;
        width: 100%;
    }
    .scores {
        order: 4;
        width: 100%;
    }
    .weather {
        order: 3;
        width: 100%;
    }
    .recent-news {
        order: 5;
        width: 100%;
    }
}
@media screen and (min-width: 600px){
    .nav-toggle{
        opacity: 0;
    }
    .hero {
        order: 1;
        width: 50%;
    }
    .top-news {
        order: 2;
        width: 60%;
    }
    .scores {
        order: 4;
        width: 50%;
    }
    .weather {
        order: 3;
        width: 40%;
    }
    .recent-news {
        order: 5;
        width: 50%;
    }
    footer{
        text-align: center;
    }
}
@media screen and (min-width: 950px){
    
}